/* Custom animation keyframe */
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.view {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
}

/* Custom block styles */
.block {
  height: fit-content;
  width: 340px;
  margin: 25px;
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
  /* Initial scaling */
  transform: scale(0.8);
  transition: transform 0.3s ease-out;
}

/* Scaling effect based on scroll */
.block::view-transition {
  view-timeline-name: scaleEffect;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.13);
  }
}

.block {
  animation: scaleUp linear;
  animation-timeline: view();
  animation-range: entry 10% cover 100%;
}

