@import "tailwindcss";

@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marquee-content {
  display: flex;
  gap: 1rem;
  min-width: 300%;
}

.animate-marquee-left {
  animation: marquee-left 60s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 60s linear infinite;
}

.marquee-item {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Medium devices (tablets) and above */
@media (min-width: 768px) {
  .marquee-item {
    font-size: 1.5rem;
  }
}
